@import '../../style/var.scss';

.about {
    @include wrapper(40px);
    min-height: calc(100vh - 401px);

    &__collapse {
        padding-left: 110px;
        padding-right: 110px;
        margin-top: 50px;
    }

}