@import '../../style/var.scss';

.navigation {
    display: flex;
    gap: 57px;

    @media screen and (max-width: $bp) {
        gap: 26px;
    }
    
    &--home,
    &--about {
        color: $orange;
        text-decoration: none;
        font-size: 1.5em;

        @media screen and (max-width: $bp) {
            font-size: 0.75em;
        }

        &.active {
            text-decoration: underline;
        }
    }
}
