@import '../../style/var.scss';

.host {
    @include flex(row, 15px);
    align-items: center;
    justify-content: flex-end;

    &__name {
        color: $orange;
        width: 40%;
        text-align: end;
        font-size: 1.1em;
    }

    &__picture {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }

    @media screen and (max-width: $bp) {
        gap: 10px;

        &__name {
            font-size: 0.75em;
        }      
        
        &__picture {
            width: 32px;
            height: 32px;
        }
    }
}