@import '../../style/var.scss';


.collapse {
    width: 100%;

    &__top {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px 10px 15px;
        background-color: $orange;
        border-radius: 5px;
        color: white;
        z-index: 1;

        &__title {
            font-weight: 500;
            font-size: 1.5em;
        }

        &__arrow {
            cursor: pointer;
            transform: rotate(0deg);
            transition: transform 0.4s ease-in-out;
        }
    }

    &__text {
        color: $orange;
        padding: 20px;
        font-size: 1.1em;
        background-color: #F6F6F6;
        border-radius: 5px;
        position: relative;
        z-index: -1;
        margin-top: -5px;
        margin-bottom: 20px;
        overflow: hidden;
    }
}

.arrow-down {
    transform: rotate(180deg);
    transition: transform 0.4s ease-in-out;
}

.text-down {
    animation: slide-down 2s ease-in-out;
}