// Fichier réunissant mes variables et mes mixin.

$orange: #FF6060;
$bp: 768px;

@mixin darken {
    background-color: black;
    @include absoluteFull;
    border-radius: 25px;
    opacity: 0.3;
    z-index: 0;
    @media screen and (max-width: $bp) {
        border-radius: 10px;        
    }
}

@mixin wrapper($bottom) {
    max-width: 1440px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: $bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    @media screen and (max-width: $bp) {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 7px;
        margin-bottom: 0px;
    }
}

@mixin banner {
    height: 223px;
    width: 100%;
    position: relative;
    @media screen and (max-width: $bp) {
        height: 111px;
    }
}

@mixin absoluteFull {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@mixin arrow {
    position: absolute;
    top: 40%;
    z-index: 1;
    cursor: pointer;
    @media screen and (max-width: $bp) {
        height: 22px;  
        width: 22px;  
        top: 44%;    
    }
}

@mixin flex($dir, $gap) {
    display: flex;
    flex-direction: $dir;
    gap: $gap;
}

