$orange: #FF6060;
$bannerHome: url(../assets/images/bannerHome.png) no-repeat center;
$bannerAbout: url(../assets/images/bannerAbout.png) no-repeat center;


@mixin darken {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 25px;
    opacity: 0.3;
    z-index: 0;
}

@mixin wrapper {
    max-width: 1440px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

@mixin banner {
    height: 223px;
    border-radius: 25px;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
}

