@import '../../style/var.scss';

.error {
    display: flex;
    flex-direction: column;
    gap: 139px;
    align-items: center;
    padding: 139px 0px;
    color: $orange;

    &__h1 {
        font-size: 18em;
        font-weight: 700;
    }

    &__h2 {
        font-size: 2.25em;
    }

    &__retour {
        font-size: 1.12em;
        color: $orange;
    }
}